@using BlazorEcommerce.Client.Pages
<nav class="w-full px-6 py-2 shadow-sm z-50">
    <div class="w-[85vw] mx-auto flex items-center justify-between">
        <!-- Left: Logo -->
        <div class="text-xl font-semibold">
            <a href="/" class="hover:opacity-80 transition-opacity"></a>
        </div>

        <!-- Middle: Navigation Links -->
        <ul class="flex space-x-6 text-sm font-light tracking-wide max-md:hidden justify-center items-center  mx-auto  ">
            <li><a href="/" class="hover:text-gray-400 transition font-bold ">Home</a></li>
            <li><a href="/products" class="hover:text-gray-400 transition font-bold">Products</a></li>
            @* <li><a href="#" class="hover:text-gray-400 transition">iPad</a></li>
            <li><a href="#" class="hover:text-gray-400 transition">iPhone</a></li>
            <li><a href="#" class="hover:text-gray-400 transition">Watch</a></li>
            <li><a href="#" class="hover:text-gray-400 transition">Support</a></li> *@
        </ul>

        <!-- Right: Search, User, Cart -->
        <div class="flex items-center space-x-4 text-sm ">
            <MiniSearch />

            <a href="/profile" class="flex items-center gap-1 hover:text-gray-400 transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A9 9 0 1119.878 6.196M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <span>Profile</span>
            </a>

            <CartLink />
        </div>
    </div>
</nav>
