@page "/admin/analytics/conversion-funnel"
@using BlazorEcommerce.Client.Pages
@layout BlazorEcommerce.Layout.DashboardLayout



<section class="w-[85%] mx-auto mt-6">
    <ConversionFunnel />
</section>