@using ClassLibrary1.DTOs.Entities
@using ClassLibrary1.Entities
@using ClassLibrary1.Interfaces
@rendermode InteractiveServer

<div class="relative mt-12 md:ml-20">
    <button @onclick="ScrollLeft"
            class="absolute left-2 top-1/2 transform -translate-y-1/2 z-30 bg-black/50 text-white p-2 rounded-full hover:bg-black/70 transition">
        &#10094;
    </button>

    <div @ref="carouselRef"
         class="flex gap-6 overflow-x-auto scroll-smooth  py-4 hide-scrollbar snap-x snap-mandatory md:ml-20 px-4">
        @for (int i = 0; i < Categories.Count; i++)
        {
            CategoryDTO category = Categories[i];
            var TextColor = GetColorClass(i);

          <div class="relative min-w-[310px] h-[240px] ">
            <div class="w-full h-full rounded-xl text-center shadow-[4px_4px_12px_rgba(0,0,0,0.1),8px_8px_24px_rgba(0,0,0,0.1)] hover:shadow-[8px_8px_12px_rgba(0,0,0,0.25),16px_16px_20px_rgba(0,0,0,0.25)]  transition duration-200 transform hover:scale-[1.01] flex flex-col justify-center items-center p-4">
                <div class="text-left">
                    <h2 class="text-[22px] font-semibold text-black">@category.Name</h2>
                    <p class="@($"text-[22px] font-semibold {TextColor}")">@category.Description</p>
                </div>
            </div>
        </div>

        }
    </div>

    <button @onclick="ScrollRight"
            class="absolute right-2 top-1/2 transform -translate-y-1/2 z-30 bg-black/50 text-white p-2 rounded-full hover:bg-black/70 transition">
        &#10095;
    </button>
</div>

@code {
    [Inject] public ICategoryService CategoryService { get; set; } = default!;
    [Inject] public IJSRuntime JS { get; set; } = default!;

    private List<CategoryDTO> Categories = new();
    private ElementReference carouselRef;

    protected override async Task OnInitializedAsync()
    {
        Categories = await CategoryService.GetAllAsync();
    }

    private async Task ScrollLeft()
    {
        await JS.InvokeVoidAsync("carouselScroll", carouselRef, -1);
    }

    private async Task ScrollRight()
    {
        await JS.InvokeVoidAsync("carouselScroll", carouselRef, 1);
    }

    private string GetColorClass(int index)
    {
        string[] colors = [
            "text-pink-600 ",
            "text-yellow-600 ",
            "text-green-600 ",
            "text-blue-600 ",
            "text-purple-600 ",
            "text-orange-600 "
        ];

        return colors[index % colors.Length];
    }
}
